/* GLOBAL SETTINGS */
:root {
	--principal: #1b1f23;
	--emphasis1: #6baceb;
	--emphasis2: #37c889;
	scroll-behavior: smooth;

	.emphasis {
		color: var(--emphasis1);
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	color: white;
	cursor: default;

	.bold {
		font-weight: bold;
	}
}
body {
	position: relative;
	background: black;
	scroll-behavior: smooth;
}
h3 {
	text-align: center;
}
.content {
	min-width: 500px;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;

	:is(#about, #technologies, #experience, #projects, #education) {
		background: var(--principal);
		padding: 40px;
		border-radius: 20px;
		scroll-margin-top: 100px;
	}
}
.align {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
/* NAVBAR */
#nav {
	position: sticky;
	background: var(--principal);
	z-index: 1;
	top: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	.nav-btn {
		color: #bbbcbd;
		height: 100%;
		padding: 0 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		cursor: pointer;
	}
	.nav-btn:hover {
		color: white;
	}
}
.responsive-nav {
	display: none;
}
/* ABOUT */
#about {
	width: 100%;
	display: flex;
	flex-direction: column;

	.name {
		font-size: 3rem;
		background: linear-gradient(90deg, var(--emphasis1), var(--emphasis2));
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}
	.job {
		color: var(--emphasis1);
		font-size: 2rem;
		text-align: center;
	}
	.contact {
		padding: 20px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
	}
	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contact-icon {
		width: 30px;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.25s ease;
	}
	.contact-icon:hover {
		scale: 1.25;
	}
	p {
		text-align: center;
	}
}
/* TECHNOLOGIES */
#technologies {
	width: 100%;
	display: flex;
	flex-direction: column;

	.technologies-container {
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
	}
	.technologies-item {
		font-family: "Times New Roman", Times, serif;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.item-img {
		width: 60px;
		border-radius: 20px;
	}
}
/* EXPERIENCE */
#experience {
	width: 100%;
	display: flex;
	flex-direction: column;

	.timeline-container {
		margin-top: 30px;
		margin-left: 30px;
		border-left: 2px solid white;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.work {
		position: relative;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		transition: all 0.25s ease;
	}
	.work::before {
		position: absolute;
		content: "";
		top: -4px;
		left: -16px;
		width: 30px;
		height: 30px;
		background: white;
		border-radius: 50%;
		transition: all 0.25s ease;
	}
	.work:hover::before {
		scale: 1.5;
	}
	.enterprise {
		color: var(--emphasis1);
		font-weight: bold;
	}
	.role {
		color: var(--emphasis1);
		font-weight: bold;
	}
	.stack {
		color: #37c898;
		font-family: "Times New Roman", Times, serif;
	}
}
/* PROJECTS */
#projects {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;

	.projects-container {
		padding-top: 20px;
	}
}
/* EDUCATION */
#education {
	width: 100%;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.education-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}
	:is(.higher-studies-container, .certifications-container) {
		max-width: 300px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		min-width: 280px;
	}
	.education-item {
		width: 100%;
		height: 180px;
		background: #2a333c;
		padding: 0 10%;
		border-radius: 20px;
		text-align: initial;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		transition: all 0.25s ease;
		overflow: hidden;
	}
	.education-img {
		width: 60px;
		height: 60px;
		border-radius: 20px;
	}
	.education-description {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	.institute {
		font-family: 'Times New Roman', Times, serif;
	
		color: var(--emphasis1);
		font-weight: bold;
	}
	.status {
		color: var(--emphasis2);
		font-family: "Times New Roman", Times, serif;
	}
	.degree {
		font-family: 'Times New Roman', Times, serif;

		color: white;
	}
}
/* RESPONSIVE */
@media (width <= 700px) {
	#nav {
		display: none;
	}
	.responsive-nav {
		z-index: 10;
		position: fixed;
		top: 10px;
		left: 10px;
		width: 50px;
		height: 50px;
		background: linear-gradient(180deg, var(--emphasis1), var(--emphasis2));
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;

		.responsive-nav-btn {
			display: none;
			color: #bbbcbd;
		}
	}
	.responsive-nav:hover {
		width: 200px;
		height: 300px;
		background: var(--principal);
		border: 1px #bbbcbd solid;
		.toggle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		.responsive-nav-btn {
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			cursor: pointer;
			transition: all 0.25s ease;
		}
		.responsive-nav-btn:hover {
			color: white;
		}
	}
	.content {
		padding-bottom: 40px;
		padding-top: 40px;
		padding-left: 40px;
		padding-right: 40px;

		#education {
			.education-container {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
